doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title D&D.projects
    body
        .wrapper
            .content
                .animate-wrapper
                    button.btn-trigger Collapse
                    p.animate-text
                        |Вы можете сделать все три задачи в одном репозитории и показать работу всех трёх виджетов на одной странице. Ключевое, чтобы все виджеты были оформлены в виде отдельных классов.
                        |Всё должно собираться через Webpack (включая картинки и стили) и выкладываться на Github Pages через Appveyor
                        |В README.md должен быть размещён бейджик сборки и ссылка на Github Pages
                        |В качестве результата присылайте проверяющему ссылки на ваши GitHub-проекты
                        |Авто-тесты писать не требуется
        .footer
