@import "./utils/libs";
@import "./utils/fonts";
@import "./utils/vars";
@import "./global/global";
@import "./global/animation";

.content {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.animate-wrapper {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;

	border-radius: 5px;

	background-color: aqua;
}

.btn-trigger {
	display: block;
	padding-left: 10px;
	padding-right: 10px;

	border-radius: 5px;

	background-color: blue;

	color: #ffffffff;
	line-height: 30px;

	cursor: pointer;
}

.animate-text {
	max-width: 500px;
	width: 100%;

	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;

	margin-top: 0px;

	opacity: 0;

	border: 0px solid #000000;
	border-radius: 5px;

	overflow: hidden;

	transition: all 0.5s;
}

.animate-active {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;

	margin-top: 20px;

	opacity: 1;

	border: 1px solid #000000;
}

@import "./global/media";
